<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{% url 'create-comp' %}" method="post">
      {% csrf_token %}
      <label>Question: </label>
      <input type="text" name="question" placeholder="Question: " />

      <br /><br />

      <label>Output: </label>
      <input type="text" name="output" placeholder="Output: " />

      <br /><br />

      <label>Start Time: </label>
      <input type="datetime-local" name="start" placeholder="Starting Time: " />

      <br /><br />

      <label>End Time: </label>
      <input type="datetime-local" name="end" placeholder="Ending Time: " />

      <br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
