<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label>Enter Competition Session Code: </label>
    <input type="text" id="code">

    <br><br>

    <button type="button">Enter</button>

    <script>
        const button = document.querySelector('button');
        button.addEventListener("click", () => {
            const code = document.getElementById("code").value;
            window.open(`${code}/`, "_self")
        })
    </script>

</body>
</html>